<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录注册</title>
    <!--<meta name="viewport" content="width = device-width,initial-scale=1">-->
</head>
<body>
    <h2><b>登录</b></h2>
    <p>会员登录</p>
    <p>密码</p>
    <a href=<%= URL %>>注册</a>

</body>
</html>
